:host ::ng-deep .p-card .p-card-content { 
    padding-top: 0;
} 

:host ::ng-deep .p-card .p-card-body { 
    padding-top: 0;
} 

body {
 }

 .title{
    background: #E3FAF1;
    background: linear-gradient(to bottom right, #E3FAF1 0%, #94C1FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
 }